@font-face {
    font-family: Speedee;
    src: url("./fonts/Speedee-Regular.woff2") format("woff2");  
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: Speedee;
    src: url("./fonts/Speedee-Bold.woff2") format("woff2"); 
    font-style:normal;
    font-weight:700;
    font-display:swap;
}
@font-face { 
    font-family: icomoon;
    src: url("./fonts/icomoon.woff") format("woff"); 
    font-weight: 400;
    font-style: normal;
    font-display: block;
}
* {
    font-family: Speedee, icomoon;
}
body {
    margin: 0;
    letter-spacing: -.15px;
    line-height: 24px;
    font-size: 14px;
}
a {
    text-decoration: none;
    color: #292929;
    background-color: transparent;
}
.header-container {
    box-shadow: 0 .0625rem .5rem 0 rgba(0,0,0,.04),0 .0625rem .3125rem 0 rgba(0,0,0,.04);
    padding-top: 15px;
}
.header {
    max-width: 1170px;
    display: grid;
    grid-template-columns: 165px auto;
    margin: 0 auto;
}
.header-logo {
    width: 108px;
    height: 108px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    margin: 4px 0;
}
.header-top {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
}
.header-top-left {
    display: flex;
    align-items: center;
}
.nav-list {
    list-style: none;
    display: flex;
    padding-left: 5px;
    margin: 0;
}
.nav-list-item-top {
    display: flex;
    align-items: center;
    line-height: 24px;
}
.nav-list-item-top:not(:last-child) {
    margin-right: 30px;
}
.language-nav {
    margin-right: 30px;
}
.icon-arrow-down::before {
    content: "";
}
.icon::before {
    font-size: 6px;
    margin-left: 5px;
}
.icon {  
    font-family: icomoon;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}
.header-top-right {
    display: flex;
}
.icon-Search::before {
    content: "";
    font-size: 21px;
    color: #60605b;
}
.icon-Search {
    top: 5px;
    position: relative;
    line-height: 8px;
}
.icon-location::before {
    content: "";
    font-size: 21px;
    color: #d90007;
}
.icon-location {
    line-height: 9px;
    top: 6px;
    position: relative;
    margin-right: 0;
}
.location-text {
    text-decoration: underline;
    color: #006bae;
}
.order-button {
    background-color: #ffbc0d;
    border-radius: 4px;
    padding: 8px 25px;
    border: 0;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
}
.header-bottom {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: 26px;
}
.nav-list-item-bottom {
    padding-right: 25px;
    padding-bottom: 25px;
    font-size: 16px;
}
.main {
    margin: 0 auto;
    max-width: 1170px;
    display: block;
}
.column-item {
    display: flex;
    margin-top: 100px;
}
.item-image {
    width: 65%;
    flex: 0 1 auto;
    margin-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
}
.mcd-promo-img {
    width: 100%;
}
.item-text {
    width: 35%;
    flex: 0 1 auto;
    margin-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0;
}
.item-text-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
}
.item-text-body {
    padding-bottom: 25px;
}
.item-text-body-main {
    font-size: 16px;
}
.item-text-link {
    text-decoration: underline;
    color: #006bae;
}
.item-text-body-legal {
    font-size: 10px;
    line-height: 14.5px;
}
.footer {
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 125px;
    padding-bottom: 75px;
}
.footer-top {
    display: flex;
    padding: 0;
    justify-content: space-between;
}
.footer-top-title {
    font-size: 1pc;
    text-align: left;
}
.footer-top-list {
    list-style: none;
    text-align: left;
    padding: 0;
    font-size: 16px;
    line-height: 28px;
}
.footer-rule {
    margin-top: 50px;
    margin-bottom: 50px;
    border: 0;
    border-top: 1px solid #a1a1a1;
}
.footer-icons {
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
}
.footer-social-img {
    margin-right: 21px;
}
.footer-legal {
    display: flex;
    font-size: 16px;
}
.footer-legal-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    justify-content: normal;
}
.copyright {
    display: flex;
    padding-right: 40px;
}
.copyright-logo {
    width: 28px;
    height: 28px;
    padding-right: 50px;
}
.copyright-text {
    text-align: right;
}
.footer-legal-list-item {
    padding-right: 40px;
    margin-bottom: 20px;
}