@font-face {
    font-family: Speedee;
    src: url("./fonts/Speedee-Regular.woff2") format("woff2");  
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: Speedee;
    src: url("./fonts/Speedee-Bold.woff2") format("woff2"); 
    font-style:normal;
    font-weight:700;
    font-display:swap;
}
@font-face { 
    font-family: icomoon;
    src: url("./fonts/icomoon.woff") format("woff"); 
    font-weight: 400;
    font-style: normal;
    font-display: block;
}
* {
    box-sizing: border-box;
    font-family: Speedee, icomoon;
}
body {
    margin: 0;
    letter-spacing: -.15px;
    line-height: 24px;
    font-size: 14px;
}
a {
    text-decoration: none;
    color: #292929;
    background-color: transparent;
}
.header_container {
    display: block;
    box-shadow: 0 .0625rem .5rem 0 rgba(0,0,0,.04),0 .0625rem .3125rem 0 rgba(0,0,0,.04);
    padding-top: 15px;
}
.header {
    max-width: 1170px;
    display: grid;
    grid-template-columns: 165px auto auto auto;
    margin: 0 auto;
}
.header_logo {
    width: 81pt;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 81pt;
    display: flex;
    align-items: center;
    margin-top: 3px;
    margin-bottom: 4px;
}
.header_top {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-column-end: 5;
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
}
.header_top_left {
    display: flex;
    align-items: center;
}
.nav_list {
    list-style: none;
    display: flex;
    padding-left: 0;
    margin: 0;
}
.nav_list_item_top {
    display: flex;
    align-items: center;
    line-height: 24px;
}
.nav_list_item_top:not(:last-child) {
    margin-right: 30px;
}
.language_nav {
    margin-right: 30px;
}
.icon-arrow-down::before {
    content: "";
}
.icon::before {
    font-size: 6px;
    margin-left: 5px;
}
.icon {  
    font-family: icomoon;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}
.header_top_right {
    display: flex;
}
.icon-Search::before {
    content: "";
    font-size: 21px;
    color: #60605b;
}
.icon-Search {
    top: 5px;
    position: relative;
    line-height: 8px;
}
.icon-location::before {
    content: "";
    font-size: 21px;
    color: #d90007;
}
.icon-location {
    line-height: 9px;
    top: 6px;
    position: relative;
    margin-right: 0;
}
.location_text {
    text-decoration: underline;
    color: #006bae;
}
.order_button {
    background-color: #ffbc0d;
    border-radius: 4px;
    padding: 8px 25px;
    border: 0;
    text-decoration: none;
    cursor: pointer;
    font-size: 1pc;
    display: inline-block;
}
.header_bottom {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-column-end: 5;
    display: flex;
    align-items: flex-end;
    margin-top: 26px;
}
.nav_list_item_bottom {
    padding-right: 25px;
    border-bottom: 25px solid transparent;
    font-size: 1pc;
}
.main {
    margin: 0 auto;
    max-width: 1170px;
    display: block;
}
.column_item {
    display: flex;
    margin-top: 100px;
}
.item_image {
    width: 65%;
    float: left;
    flex: 0 0 auto;
    margin-bottom: 0;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}
.mcd_promo_img {
    position: relative;
    top: 0;
    width: 100%;
    object-fit: contain;
}
.item_text {
    width: 35%;
    float: left;
    flex: 0 0 auto;
    margin-bottom: 0;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0;
}
.item_text_title {
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
}
.item_text_body {
    padding-bottom: 25px;
}
.item_text_body_main {
    font-size: 16px;
}
.item_text_link {
    text-decoration: underline;
    color: #006bae;
}
.item_text_body_legal {
    font-size: 10px;
    line-height: 14.5px;
}
